.bestselling__heading-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 2rem;
    margin-top: 4rem;
}

.bestselling__heading {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--primary-color);
    position: relative;
}

.bestselling__heading::before {
    content: '';
    position: absolute;
    top: 5.4rem;
    left: 50%;
    display: block;
    width: 10rem;
    height: 0.4rem;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.product__panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.2rem;
    margin-top: 18px;
}

.product__panel-item {
    margin-bottom: 2rem;
    padding: 0 0.75rem;
    cursor: pointer;
}
.product__panel-item-wrap {
    background-color: #f3f3f3;
    padding: 1rem 1.5rem;
    position: relative;
    border-radius: 3px;
}

.product__panel-price-sale-off {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    color: var(--white-color);
}

.product__panel-img-wrap {
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__panel-img {
    max-width: 100%;
    transition: 0.3s;
}

.product__panel-img:hover,
.product__sidebar-item-img:hover,
.bestselling__product-img:hover {
    transform: scale(1.1);
}

.product__panel-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin-top: 2.8rem;
    transition: 0.2s;
    height: 3.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product__panel-link:hover {
    color: var(--black-color);
    text-decoration: none;
}
.product__panel-rate-wrap {
    text-align: right;
    margin: 1rem 0;
}

.product__panel-rate {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 1.2rem 0;
}

.product__panel-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__panel-price-old {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: line-through;
}

.product__panel-price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.product__panel-price-old-hide {
    display: none;
}

.product__love .product__panel-item {
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 0 1.6rem;
}
